@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-off-white text-charcoal antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
